h1 {
    color: white;
    font-family: Verdana;
    font-size: 45px;
    text-align: center;
    font-weight: 200;

}

h3 {
    color: white;
    font-family: Verdana;
    font-size: 30px;
    margin-left: 205px;
    margin-right: 205px;
    font-weight: 200;

}

.bottom-half {
    color: white;
    font-family: Verdana;
    font-size: 30px;
    margin-left: 205px;
    margin-right: 205px;

}

img {
    height: 750px;
    width: 100%;

}

.speak {
    text-align: center;
}

body {
    background-color: #5072A7;
}

span {
    color: burlywood;
}

.email {
    color:cornsilk;
}

.copyright {
    text-align: center;
    color: black;
}